
body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #f5f5f5;
    color: #fff;
  }
  
  .payroll-page {
    display: flex;
    height: 100vh;
  }
  
  /* Sidebar Styles */
  .sidebar {
    width: 20%;
    background-color: #466346;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
  }
  
  .user-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .user-avatar {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-bottom: 10px;
  }
  
  .user-details h3 {
    margin: 0;
  }
  
  .menu ul {
    list-style: none;
    padding: 0;
  }
  
  .menu li {
    margin: 10px 0;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .menu li:hover,
  .menu .active {
    background-color: #466346;
    color: #fff;
  }
  
  .logout-button {
    background-color: #ff4d4d;
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
  }
  
  /* Main Content */
  .main-content {
    width: 80%;
    padding: 20px;
    background-color: #f5f5f5;
    color: #000;
    overflow-y: auto;
  }
  
  .main-content h1 {
    color: #466346;
  }
  
  .payroll-list{
    list-style: none;
    padding: 0;
  }
  
  .payroll-item {
    display: flex;
    align-items: center;
    background-color: #fff;
    padding: 15px;
    margin: 10px 0;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .payroll-icon {
    width: 40px;
    height: 40px;
    background-color: #ddd;
    border-radius: 50%;
    margin-right: 15px;
  }
  
  .payroll-title {
    font-weight: bold;
  }
  
  .payroll-date {
    font-size: 14px;
    color: #666;
  }

  .payroll-amount{
    font-size: 16px;
    color: #000000;
  }
  
  .new-notification {
    background-color: #2c2c2c;
    color: #fff;
    padding: 15px;
    margin-top: 20px;
    border-radius: 10px;
    text-align: center;
  }

  .historyButton {
      background-color: #466346; 
      border: none;
      color: white;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin-left: auto; 
      margin-right: 10;
      border-radius: 15px;
      cursor: pointer;
      font-family: 'Arial', sans-serif;
      width: 250px;
  }

  .nextPaymentButton {
    background-color: #466346; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-left: auto; 
    margin-right: 10;
    border-radius: 15px;
    cursor: pointer;
    font-family: 'Arial', sans-serif;
    width: 250px;
  }
  
  
  .new-notification p {
    margin: 0 0 10px 0;
  }
  
  .mark-read-button {
    background-color: #466346;
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
  }
  