.home {
    background-color: rgb(72, 73, 68);
    
     flex-direction: row; 
     justify-content: center;  
    
}

.home .div {
    background: linear-gradient(
        180deg,
        rgb(72, 73, 68) 20.5%,
        rgb(70, 99, 70) 100%
    );
    position: relative;
    width: 100%;
    padding-bottom: 100%;
    
}

.home .button {
    height: 40px;
    left: 1230px;
    position: relative;
    top: 36px;
    width: 364px;
}

.home .button-sign-in {
    all: unset;
    box-sizing: border-box;
    height: 0px;
    left: 160px;
    position: absolute;
    top: 0;
    width: 173px;
}

.home .overlap-group {
    background-color: #466346;
    border-radius: 6px;
    height: 10px;
    position: relative;
    width: 120px;
}

.home .text-wrapper {
    color: #e2e2e2;
    font-family: "Poppins-Medium", Helvetica;
    font-size: 14px;
    font-weight: 500;
    left: 51px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 9px;
    width: 68px;
}

.home .overlap-wrapper {
    height: 20px;
    left: 0;
    position: relative;
    top: 0;
    /* width: 173px; */
}

.home .text-wrapper-2 {
    color: #e2e2e2;
    font-family: "Poppins-Medium", Helvetica;
    font-size: 14px;
    font-weight: 500;
    left: 52px;
    letter-spacing: 0;
    line-height: normal;
    position: relative;
    text-align: center;
    top: 10px;
    /* width: 68px; */
}

.home .TUTOR-TITANS {
    color: transparent;
    font-family: "Poppins-SemiBold", Helvetica;
    font-size: 96px;
    font-weight: 600;
    min-height: 74px;
    left: 475px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    /* text-align: center; */
    top: -90px;
    /* white-space: nowrap; */
    /* min-width: 776px; */
}

.home .span {
    color: #466346;
}

.home .text-wrapper-3 {
    color: #424d65;
}

.home .text-wrapper-4 {
    color: #e2e2e2;
}

.home .logo {
    height: 70px;
    left: 49px;
    object-fit: cover;
    position: absolute;
    top: 23px;
    /* width: 70px; */
}
