.dashboard {
    width: 100vw;
    height: 100vh;
    background-color: #484944;
}

body {
    margin: 0;
    padding: 0;
}

/* Wes create a new SideBar.css and fix associated imports (dashboard.css), 
test this idea to see if it works. should import the side bar across the pages and .jsx include .css */



