.tutor-dashboard-page {
    background-color: #00000033;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.tutor-dashboard-page .overlap-wrapper {
    background-color: var(--gray);
    height: 1080px;
    width: 1920px;
}

.tutor-dashboard-page .overlap {
    height: 1025px;
    left: 36px;
    position: relative;
    top: 14px;
    width: 1614px;
}

.tutor-dashboard-page .green-rectangle {
    background-color: var(--green);
    border-radius: 46px;
    height: 952px;
    left: 235px;
    position: absolute;
    top: 73px;
    width: 304px;
}

.tutor-dashboard-page .whole-dashboard {
    background: linear-gradient(
        180deg,
        rgb(248, 248, 255) 0%,
        rgb(255, 255, 255) 100%
    );
    border-radius: 32px;
    box-shadow: 0px 49px 32px -19px #37379526;
    height: 879px;
    left: 295px;
    position: absolute;
    top: 110px;
    width: 1319px;
}

.tutor-dashboard-page .frame {
    align-items: center;
    display: flex;
    gap: 16px;
    left: 332px;
    position: absolute;
    top: 714px;
    width: 626px;
}

.tutor-dashboard-page .text-wrapper {
    color: var(--x-1a-19-4d);
    flex: 1;
    font-family: "Poppins-Medium", Helvetica;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -1.00px;
    position: relative;
}

.tutor-dashboard-page .div-wrapper {
    align-items: flex-start;
    border: 1px solid;
    border-color: var(--gray);
    border-radius: 8px;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 10px;
    padding: 8px 16px;
    position: relative;
}

.tutor-dashboard-page .div {
    color: var(--x-1a-19-4d);
    font-family: "Poppins-Medium", Helvetica;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -1.00px;
    position: relative;
    width: fit-content;
}

.tutor-dashboard-page .text-wrapper-2 {
    color: var(--x-1a-19-4d);
    font-family: "Poppins-Bold", Helvetica;
    font-size: 32px;
    font-weight: 700;
    left: 332px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 64px;
}

.tutor-dashboard-page .overlap-group {
    background-image: url(./rectangle-2.svg);
    background-size: 100% 100%;
    height: 879px;
    left: 0;
    position: absolute;
    top: 0;
    width: 265px;
}

.tutor-dashboard-page .log-out {
    align-items: flex-start;
    display: flex;
    left: 0;
    position: absolute;
    top: 802px;
    width: 260px;
}

.tutor-dashboard-page .rectangle {
    align-self: stretch;
    border-radius: 24px;
    position: relative;
    width: 6px;
}

.tutor-dashboard-page .div-2 {
    align-items: center;
    display: flex;
    flex: 1;
    flex-grow: 1;
    gap: 10px;
    padding: 8px 8px 8px 16px;
    position: relative;
}

.tutor-dashboard-page .img {
    height: 32px;
    position: relative;
    width: 32px;
}

.tutor-dashboard-page .div-3 {
    color: var(--style);
    font-family: "Poppins-Regular", Helvetica;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
    position: relative;
    width: fit-content;
}

.tutor-dashboard-page .side-bar {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 8px;
    left: 0;
    padding: 0px 16px;
    position: absolute;
    top: 162px;
    width: 260px;
}

.tutor-dashboard-page .div-4 {
    align-items: flex-start;
    align-self: stretch;
    display: flex;
    flex: 0 0 auto;
    position: relative;
    width: 100%;
}

.tutor-dashboard-page .rectangle-2 {
    align-self: stretch;
    background-color: var(--green);
    border-radius: 24px;
    position: relative;
    width: 6px;
}

.tutor-dashboard-page .text-wrapper-3 {
    color: var(--gray);
    font-family: "Poppins-Regular", Helvetica;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
    position: relative;
    width: fit-content;
}

.tutor-dashboard-page .div-5 {
    height: 30px;
    overflow: hidden;
    position: relative;
    width: 30px;
}

.tutor-dashboard-page .vector {
    height: 30px;
    left: -6570px;
    position: absolute;
    top: 9611px;
    width: 30px;
}

.tutor-dashboard-page .calendar-icon {
    height: 30px !important;
    left: 0 !important;
    position: absolute !important;
    top: 0 !important;
    width: 30px !important;
}

.tutor-dashboard-page .vector-2 {
    height: 30px;
    left: -6570px;
    position: absolute;
    top: 9557px;
    width: 30px;
}

.tutor-dashboard-page .user-interface {
    height: 24px !important;
    left: 3px !important;
    position: absolute !important;
    top: 3px !important;
    width: 24px !important;
}

.tutor-dashboard-page .email-icon-frame {
    height: 30px;
    position: relative;
    width: 30px;
}

.tutor-dashboard-page .billing {
    align-items: flex-start;
    display: inline-flex;
    flex: 0 0 auto;
    position: relative;
}

.tutor-dashboard-page .billing-button-frame {
    align-items: center;
    display: flex;
    gap: 10px;
    padding: 8px 8px 8px 16px;
    position: relative;
    width: 222px;
}

.tutor-dashboard-page .text-wrapper-4 {
    color: #62618f;
    font-family: "Poppins-Regular", Helvetica;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
    position: relative;
    width: fit-content;
}

.tutor-dashboard-page .profile-topleft {
    align-items: center;
    display: inline-flex;
    gap: 14px;
    left: 19px;
    position: absolute;
    top: 56px;
}

.tutor-dashboard-page .user-interface-user {
    height: 55px !important;
    position: relative !important;
    width: 55px !important;
}

.tutor-dashboard-page .frame-2 {
    align-items: flex-start;
    display: inline-flex;
    flex: 0 0 auto;
    flex-direction: column;
    position: relative;
}

.tutor-dashboard-page .text-wrapper-5 {
    color: var(--x-1a-19-4d);
    font-family: "Poppins-Bold", Helvetica;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -1.00px;
    position: relative;
    width: fit-content;
}

.tutor-dashboard-page .span {
    color: #62618f;
    font-family: "Poppins-Regular", Helvetica;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0;
}

.tutor-dashboard-page .student-dashboard {
    align-items: flex-start;
    display: inline-flex;
    flex-direction: column;
    gap: 4px;
    left: 332px;
    position: absolute;
    top: 149px;
}

.tutor-dashboard-page .p {
    color: var(--style);
    font-family: "Poppins-Medium", Helvetica;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: normal;
    position: relative;
    width: fit-content;
}

.tutor-dashboard-page .account-balance {
    align-items: flex-start;
    display: inline-flex;
    flex-direction: column;
    gap: 4px;
    left: 332px;
    position: absolute;
    top: 643px;
}

.tutor-dashboard-page .progress-report {
    align-items: flex-start;
    display: inline-flex;
    flex-direction: column;
    gap: 4px;
    left: 315px;
    position: absolute;
    top: 279px;
}

.tutor-dashboard-page .tutor-frame {
    align-items: flex-start;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 4px;
    position: relative;
    width: 649px;
}

.tutor-dashboard-page .frame-3 {
    align-self: stretch;
    height: 21px;
    position: relative;
    width: 100%;
}

.tutor-dashboard-page .text-wrapper-6 {
    color: var(--style);
    font-family: "Poppins-Medium", Helvetica;
    font-size: 14px;
    font-weight: 500;
    left: 16px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: -1px;
    width: 43px;
}

.tutor-dashboard-page .text-wrapper-7 {
    color: var(--style);
    font-family: "Poppins-Medium", Helvetica;
    font-size: 14px;
    font-weight: 500;
    left: 227px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: -1px;
    width: 100px;
}

.tutor-dashboard-page .text-wrapper-8 {
    color: var(--style);
    font-family: "Poppins-Medium", Helvetica;
    font-size: 14px;
    font-weight: 500;
    left: 467px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: -1px;
    width: 100px;
}

.tutor-dashboard-page .frame-4 {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0px 8px 19px #dfdffc99;
    height: 56px;
    position: relative;
    width: 603px;
}

.tutor-dashboard-page .text-wrapper-9 {
    color: var(--x-1a-19-4d);
    font-family: "Poppins-Medium", Helvetica;
    font-size: 16px;
    font-weight: 500;
    left: 16px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 15px;
}

.tutor-dashboard-page .text-wrapper-10 {
    color: var(--x-1a-19-4d);
    font-family: "Poppins-Medium", Helvetica;
    font-size: 16px;
    font-weight: 500;
    left: 227px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 16px;
    width: 100px;
}

.tutor-dashboard-page .rating {
    align-items: flex-start;
    display: inline-flex;
    gap: 4px;
    left: 462px;
    position: absolute;
    top: 16px;
}

.tutor-dashboard-page .star-2 {
    height: 20.87px;
    position: relative;
    width: 21.89px;
}

.tutor-dashboard-page .overlap-group-wrapper {
    height: 24px;
    position: relative;
    width: 24px;
}

.tutor-dashboard-page .overlap-group-2 {
    height: 24px;
    position: relative;
}

.tutor-dashboard-page .star-3 {
    height: 21px;
    left: 1px;
    position: absolute;
    top: 1px;
    width: 22px;
}

.tutor-dashboard-page .mask-group {
    height: 24px;
    left: 0;
    position: absolute;
    top: 0;
    width: 24px;
}

.tutor-dashboard-page .frame-5 {
    border-radius: 8px;
    height: 56px;
    position: relative;
    width: 603px;
}

.tutor-dashboard-page .text-wrapper-11 {
    color: #c4c4c4;
    font-family: "Poppins-MediumItalic", Helvetica;
    font-size: 16px;
    font-style: italic;
    font-weight: 500;
    left: 16px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 15px;
}

.tutor-dashboard-page .text-wrapper-12 {
    color: #c4c4c4;
    font-family: "Poppins-MediumItalic", Helvetica;
    font-size: 16px;
    font-style: italic;
    font-weight: 500;
    left: 223px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 15px;
    width: 100px;
}

.tutor-dashboard-page .text-wrapper-13 {
    color: #c4c4c4;
    font-family: "Poppins-MediumItalic", Helvetica;
    font-size: 16px;
    font-style: italic;
    font-weight: 500;
    left: 16px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 15px;
    width: 62px;
}

.tutor-dashboard-page .visuals-tab {
    align-items: flex-start;
    background-color: var(--green);
    border-radius: 16px;
    box-shadow: 0px 8px 19px #dfdffc99;
    display: flex;
    flex-direction: column;
    gap: 16px;
    left: 998px;
    padding: 32px;
    position: absolute;
    top: 102px;
    width: 270px;
}

.tutor-dashboard-page .text-wrapper-14 {
    color: #ffffff;
    font-family: "Poppins-Bold", Helvetica;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0;
    line-height: normal;
    margin-right: -2.00px;
    margin-top: -1.00px;
    position: relative;
    width: fit-content;
}

.tutor-dashboard-page .frame-6 {
    align-items: flex-start;
    display: inline-flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 4px;
    position: relative;
}

.tutor-dashboard-page .element-PM-thursday {
    color: var(--ffffff);
    font-family: "Poppins-Italic", Helvetica;
    font-size: 16px;
    font-style: italic;
    font-weight: 400;
    height: 48px;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -1.00px;
    position: relative;
    width: 184px;
}

.tutor-dashboard-page .text-wrapper-15 {
    color: var(--x-1a-19-4d);
    font-family: "Poppins-Bold", Helvetica;
    font-size: 16px;
    font-weight: 700;
    left: 332px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 237px;
}

.tutor-dashboard-page .top-bar {
    height: 74px;
    left: 0;
    position: absolute;
    top: 0;
    width: 1315px;
}

.tutor-dashboard-page .back-logo {
    height: 71px;
    left: 0;
    position: absolute;
    top: 2px;
    width: 172px;
}

.tutor-dashboard-page .logo {
    height: 70px;
    left: 0;
    object-fit: cover;
    position: absolute;
    top: 0;
    width: 70px;
}

.tutor-dashboard-page .back-button {
    height: 48px;
    left: 82px;
    position: absolute;
    top: 13px;
    width: 48px;
}

.tutor-dashboard-page .TUTOR-TITANS {
    color: transparent;
    font-family: "Poppins-SemiBold", Helvetica;
    font-size: 96px;
    font-weight: 600;
    height: 74px;
    left: 537px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 0;
    white-space: nowrap;
    width: 776px;
}

.tutor-dashboard-page .text-wrapper-16 {
    color: #466346;
}

.tutor-dashboard-page .text-wrapper-17 {
    color: #424d65;
}

.tutor-dashboard-page .text-wrapper-18 {
    color: #e2e2e2;
}
