.card1-container {
    width: 16rem;
    border-radius: 1rem;
    box-shadow: 0px 10px 8px #999;
    display: flex;
    flex-direction: column;
    margin: 0.5rem;
    background-color: #466346;
    height: fit-content;
}

.tutorcard1-img {
    width: 100%;
    border-radius: 1rem 1rem 0 0;
}

.tutor1card-title {
    font-size: 30px;
    font-variant: small-caps;
    margin: 0rem 3%;
}

.tutor1card-subject {
    font-variant: small-caps;
    font-weight: normal;
    font-size: 18px;
    margin: 0rem 3%;
}

.tutorcard1-description {
    font-variant: small-caps;
    font-weight: normal;
    font-size: 18px;
    margin: 0rem 3%;
}