.tutor-profile-page {
    background-color: #00000033;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.tutor-profile-page .overlap-wrapper {
    background-color: var(--gray);
    height: 1080px;
    width: 1920px;
}

.tutor-profile-page .overlap {
    height: 1025px;
    left: 36px;
    position: relative;
    top: 14px;
    width: 1614px;
}

.tutor-profile-page .green-rectangle {
    background-color: var(--green);
    border-radius: 46px;
    height: 952px;
    left: 235px;
    position: absolute;
    top: 73px;
    width: 304px;
}

.tutor-profile-page .whole-dashboard {
    background: linear-gradient(
        180deg,
        rgb(248, 248, 255) 0%,
        rgb(255, 255, 255) 100%
    );
    border-radius: 32px;
    box-shadow: 0px 49px 32px -19px #37379526;
    height: 879px;
    left: 295px;
    position: absolute;
    top: 110px;
    width: 1319px;
}

.tutor-profile-page .overlap-group {
    background-image: url(./rectangle-2.svg);
    background-size: 100% 100%;
    height: 879px;
    left: 0;
    position: absolute;
    top: 0;
    width: 265px;
}

.tutor-profile-page .log-out {
    align-items: flex-start;
    display: flex;
    left: 0;
    position: absolute;
    top: 802px;
    width: 260px;
}

.tutor-profile-page .rectangle {
    align-self: stretch;
    border-radius: 24px;
    position: relative;
    width: 6px;
}

.tutor-profile-page .div {
    align-items: center;
    display: flex;
    flex: 1;
    flex-grow: 1;
    gap: 10px;
    padding: 8px 8px 8px 16px;
    position: relative;
}

.tutor-profile-page .img {
    height: 32px;
    position: relative;
    width: 32px;
}

.tutor-profile-page .text-wrapper {
    color: var(--style);
    font-family: "Poppins-Regular", Helvetica;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
    position: relative;
    width: fit-content;
}

.tutor-profile-page .side-bar {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 8px;
    left: 0;
    padding: 0px 16px;
    position: absolute;
    top: 162px;
    width: 260px;
}

.tutor-profile-page .div-2 {
    align-items: flex-start;
    align-self: stretch;
    display: flex;
    flex: 0 0 auto;
    position: relative;
    width: 100%;
}

.tutor-profile-page .text-wrapper-2 {
    color: #62618f;
    font-family: "Poppins-Regular", Helvetica;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
    position: relative;
    width: fit-content;
}

.tutor-profile-page .div-3 {
    height: 30px;
    overflow: hidden;
    position: relative;
    width: 30px;
}

.tutor-profile-page .vector {
    height: 30px;
    left: -3601px;
    position: absolute;
    top: 6397px;
    width: 30px;
}

.tutor-profile-page .calendar-icon {
    height: 30px !important;
    left: 0 !important;
    position: absolute !important;
    top: 0 !important;
    width: 30px !important;
}

.tutor-profile-page .vector-2 {
    height: 30px;
    left: -3601px;
    position: absolute;
    top: 6343px;
    width: 30px;
}

.tutor-profile-page .user-interface {
    height: 24px !important;
    left: 3px !important;
    position: absolute !important;
    top: 3px !important;
    width: 24px !important;
}

.tutor-profile-page .email-icon-frame {
    height: 30px;
    position: relative;
    width: 30px;
}

.tutor-profile-page .billing {
    align-items: flex-start;
    display: inline-flex;
    flex: 0 0 auto;
    position: relative;
}

.tutor-profile-page .billing-button-frame {
    align-items: center;
    display: flex;
    gap: 10px;
    padding: 8px 8px 8px 16px;
    position: relative;
    width: 222px;
}

.tutor-profile-page .rectangle-2 {
    align-self: stretch;
    background-color: #466346;
    border-radius: 24px;
    position: relative;
    width: 6px;
}

.tutor-profile-page .text-wrapper-3 {
    color: var(--gray);
    font-family: "Poppins-Regular", Helvetica;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
    position: relative;
    width: fit-content;
}

.tutor-profile-page .profile-topleft {
    align-items: center;
    display: inline-flex;
    gap: 14px;
    left: 19px;
    position: absolute;
    top: 56px;
}

.tutor-profile-page .user-interface-user {
    height: 55px !important;
    position: relative !important;
    width: 55px !important;
}

.tutor-profile-page .frame {
    align-items: flex-start;
    display: inline-flex;
    flex: 0 0 auto;
    flex-direction: column;
    position: relative;
}

.tutor-profile-page .text-wrapper-4 {
    color: var(--x-1a-19-4d);
    font-family: "Poppins-Bold", Helvetica;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -1.00px;
    position: relative;
    width: fit-content;
}

.tutor-profile-page .janesmith {
    color: var(--style);
    font-family: "Poppins-Regular", Helvetica;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
    position: relative;
    width: 167px;
}

.tutor-profile-page .span {
    color: #62618f;
    font-family: "Poppins-Regular", Helvetica;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0;
}

.tutor-profile-page .persona {
    background-color: #ffffff;
    border-radius: 30px;
    height: 839px;
    left: 265px;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 1054px;
}

.tutor-profile-page .persona-name {
    height: 120px;
    left: 0;
    position: absolute;
    top: 0;
    width: 1056px;
}

.tutor-profile-page .div-wrapper {
    background-image: url(./rectangle-1.svg);
    background-size: 100% 100%;
    height: 120px;
    position: relative;
    width: 1054px;
}

.tutor-profile-page .text-wrapper-5 {
    color: #ffffff;
    font-family: "Poppins-Bold", Helvetica;
    font-size: 56px;
    font-weight: 700;
    left: 40px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 25px;
}

.tutor-profile-page .persona-photo {
    height: 333px;
    left: 30px;
    position: absolute;
    top: 156px;
    width: 420px;
}

.tutor-profile-page .quote {
    height: 204px;
    left: 30px;
    position: absolute;
    top: 499px;
    width: 422px;
}

.tutor-profile-page .my-goal-is-to-build-wrapper {
    background-color: #466346;
    border-radius: 10px;
    height: 204px;
    position: relative;
    width: 420px;
}

.tutor-profile-page .my-goal-is-to-build {
    color: #ffffff;
    font-family: "Poppins-Bold", Helvetica;
    font-size: 20px;
    font-weight: 400;
    height: 152px;
    left: 24px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 19px;
    width: 372px;
}

.tutor-profile-page .text-wrapper-6 {
    font-weight: 700;
}

.tutor-profile-page .text-wrapper-7 {
    font-family: "Poppins-Italic", Helvetica;
    font-style: italic;
}

.tutor-profile-page .demographics {
    height: 84px;
    left: 30px;
    position: absolute;
    top: 717px;
    width: 422px;
}

.tutor-profile-page .overlap-2 {
    background-color: #f6f6f6;
    border-radius: 10px;
    height: 84px;
    position: relative;
    width: 420px;
}

.tutor-profile-page .element-reviews {
    color: #000000;
    font-family: "Poppins-Regular", Helvetica;
    font-size: 20px;
    font-weight: 400;
    height: 30px;
    left: 210px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 27px;
}

.tutor-profile-page .rating {
    align-items: flex-start;
    display: inline-flex;
    gap: 4px;
    left: 74px;
    position: absolute;
    top: 30px;
}

.tutor-profile-page .star-2 {
    height: 20.87px;
    position: relative;
    width: 21.89px;
}

.tutor-profile-page .overlap-group-wrapper {
    height: 24px;
    position: relative;
    width: 24px;
}

.tutor-profile-page .overlap-group-2 {
    height: 24px;
    position: relative;
}

.tutor-profile-page .star-3 {
    height: 21px;
    left: 1px;
    position: absolute;
    top: 1px;
    width: 22px;
}

.tutor-profile-page .mask-group {
    height: 24px;
    left: 0;
    position: absolute;
    top: 0;
    width: 24px;
}

.tutor-profile-page .overlap-3 {
    background-color: #f6f6f6;
    border-radius: 10px;
    height: 785px;
    left: 482px;
    position: absolute;
    top: 154px;
    width: 420px;
}

.tutor-profile-page .goals {
    height: 157px;
    left: 28px;
    position: absolute;
    top: 19px;
    width: 344px;
}

.tutor-profile-page .overlap-4 {
    height: 157px;
    position: relative;
    width: 340px;
}

.tutor-profile-page .p {
    color: #222222;
    font-family: "Poppins-Regular", Helvetica;
    font-size: 20px;
    font-weight: 400;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 37px;
    width: 340px;
}

.tutor-profile-page .text-wrapper-8 {
    color: #466346;
    font-family: "Poppins-SemiBold", Helvetica;
    font-size: 26px;
    font-weight: 600;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 0;
}

.tutor-profile-page .frustrations {
    height: 187px;
    left: 28px;
    position: absolute;
    top: 193px;
    width: 344px;
}

.tutor-profile-page .overlap-5 {
    height: 187px;
    position: relative;
    width: 340px;
}

.tutor-profile-page .frustrations-2 {
    height: 277px;
    left: 28px;
    position: absolute;
    top: 392px;
    width: 344px;
}

.tutor-profile-page .overlap-6 {
    height: 277px;
    position: relative;
    width: 340px;
}

.tutor-profile-page .top-bar {
    height: 74px;
    left: 0;
    position: absolute;
    top: 0;
    width: 1315px;
}

.tutor-profile-page .back-logo {
    height: 71px;
    left: 0;
    position: absolute;
    top: 2px;
    width: 172px;
}

.tutor-profile-page .logo {
    height: 70px;
    left: 0;
    object-fit: cover;
    position: absolute;
    top: 0;
    width: 70px;
}

.tutor-profile-page .back-button {
    height: 48px;
    left: 82px;
    position: absolute;
    top: 13px;
    width: 48px;
}

.tutor-profile-page .TUTOR-TITANS {
    color: transparent;
    font-family: "Poppins-SemiBold", Helvetica;
    font-size: 96px;
    font-weight: 600;
    height: 74px;
    left: 537px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 0;
    white-space: nowrap;
    width: 776px;
}

.tutor-profile-page .text-wrapper-9 {
    color: #466346;
}

.tutor-profile-page .text-wrapper-10 {
    color: #424d65;
}

.tutor-profile-page .text-wrapper-11 {
    color: #e2e2e2;
}
